


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
	integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
	crossorigin="anonymous" />
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center"></h3>

			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link active" href="#home">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#aboutus">About
						Us</a></li>
				<li class="nav-item"><a class="nav-link disabled"
					href="#contactus">Contact Us</a></li>

			</ul>

			<div class="tab-content">
				<div id="home" class="tab-pane fade in active">
					<h1>Home</h1>
					<div class="jumbotron">
						<h2>Hello, world!</h2>
						<p>This is a template for a simple marketing or informational
							website. It includes a large callout called the hero unit and
							three supporting pieces of content. Use it as a starting point to
							create something more unique.</p>
						<p>
							<a class="btn btn-primary btn-large" href="#">Learn more</a>
						</p>
					</div>
				</div>
				<div id="aboutus" class="tab-pane fade">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center"></h3>
							<h2>About Us</h2>

							<p>This is a sample application to demonstrate the use of
								spring boot.</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>