<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<title>Login</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="loginCtrl">
	<div class="container">
		<div class="jumbotron">
			<h1>{{heading.name}}</h1>
			<p>{{heading.desc}}</p>
		</div>
		<div class="well">
			<div th:if="${param.error}" class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>{{failure.head}} </strong>{{failure.desc}}
			</div>
			<div th:if="${param.logout}" class="alert alert-success">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>{{success.head}} </strong>{{success.desc}}
			</div>
			<br /> <br />
			<form th:action="@{/login}" method="post" class="form-horizontal"
				role="form" name="form">
				<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
					<label class="control-label col-sm-2" for="username">
						UserName: </label>
					<div class="col-sm-4">
						<input type="text" name="username" placeholder="Enter username"
							class="form-control" ng-minlength="4" required/>
							 <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
					<label class="control-label col-sm-2" for="password">
						Password: </label>
					<div class="col-sm-4">
						<input type="password" name="password"
							placeholder="Enter password" class="form-control" />
							 <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label><input type="checkbox" />Remember me</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" class="btn btn-primary" value="Sign In" ng-disabled="form.$invalid || vm.dataLoading"/>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script src= "loginCtrl.js"></script>
</body>
</html>